
<div>
	{{#link-to 'bikes.new'}}New Bikes{{/link-to}}
	|
	{{#link-to 'bikes.used'}}Used Bikes{{/link-to}}
</div>
<div>
	Styles: 
	{{#each model.styles as |style|}}
		{{style.name}}
	{{/each}}
</div>
{{outlet}}
